.container
  .row
    .col
      form
        .container
          label(for='cn') Common Name
          input.form-control#cn(type='text')
          label(for='ou') Organizational Unit
          input.form-control#ou(type='text')
          label(for='o') Organization
          input.form-control#o(type='text')
          label(for='id') Keystore
          input.form-control#id(type='text')
          label(for='password') Password
          input.form-control#password(type='text')
          .row
            .col
              .form-check
                input.form-check-input#sign(type='checkbox' value='')
                label.form-check-label(for='sign') Sign
            .col
              select.custom-select#signKeystores(disabled)
          input.form-control#generateBtn(type='button' value='Generate')
    .col
      .container
        h4.text-center Keystores
        .list-group#keystorelist
