#keystoregen
  h1 Key Store Generator
  p Common Name
  input#cn(type='text')
  p Organizational Unit
  input#ou(type='text')
  p Organization
  input#o(type='text')
  p Keystore
  input#id(type='text')
  p Password
  input#password(type='text')
  p Sign
  input#sign(type='checkbox' value='true')
  select#signKeystores(disabled)
  input#generateBtn(type='button' value='Generate')
