.container-fluid
  .row
    .col-md-9
      .container-fluid
        .row
          .col-sm-12
            h4.text-center Keystore Options
        .row
          .col-sm-12
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text Keystore
              input.form-control#id(type='text')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text Password
              input.form-control#password(type='text')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text CN
              input.form-control#cn(type='text')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text OU
              input.form-control#ou(type='text')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text O
              input.form-control#o(type='text')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text Sign
                .input-group-text
                  input#sign(type='checkbox')
              select.custom-select#signKeystores(disabled)
        .row
          .col-sm-12
            button.btn-success.btn-block.btn#generateBtn(type='button') Generate
    .col-md-3.hidden-sm-down
      .container-fluid
        .row
          .col-sm-12
            h4.text-center Keystores
        .row
          .col-sm-12
            .list-group#keystorelist
