doctype html
html(lang='en')
head
  title C2 Profile JS
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
body
  nav.nav.justify-content-center.nav-pills
    a.nav-link.active.bg-danger(href='#') Profiles
    a.nav-link.text-dark(href='#') Keystores
    a.nav-link(href='#') About
  include forms/keystoreform
