doctype html
html(lang='en')
head
  title C2 Profile JS
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
body
  nav
    .nav.nav-pills.justify-content-center
      a.nav-link.active(data-toggle='pill' href='#profiles') Profiles
      a.nav-link(data-toggle='pill' href='#keystores') Keystores
      a.nav-link(data-toggle='pill' href='#about') About
  .tab-content
    .tab-pane.fade.show.active#profiles
    .tab-pane.fade#keystores
      include forms/keystoreform
    .tab-pane.fade#about
