@font-face {
    font-family: Futura;
    src: url("../../assets/futura.ttf");
}

* {
    font-family: Futura;
}

body {
    margin: 0;
}

.badInput {
    background-color: lightcoral
}

.goodInput {
    background-color: lightgreen
}

.badInput:focus {
    background-color: lightcoral
}

.goodInput:focus {
    background-color: lightgreen
}

.pill {
    background-color: lightblue;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    float: left;
    border-radius: 15px;
    border-color: black;
    border: 1px;
    border-style: solid;
    box-shadow: 5px 5px 15px -5px black;
}

.inputText {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 3px;
}

.inputText div {
    white-space: nowrap;
}

.inputText input {
    padding-left: 10px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
}

.inputSignKeystore {
    display: grid;
    grid-template-columns: min-content min-content auto;
    column-gap: 3px;
}

.inputSignKeystore input {
    align-self: center;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'form server'
}

.content {
    grid-area: content;
}

.navbar {
    background-color: rgba(100, 100, 255, 0.5);
    position: fixed;
    width: 100vw;
    left: 0px;
    top: 0px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    justify-items: center;
    border-bottom-style: solid;
}

.navbar a {
    text-decoration: none;
}

.mainSmall {
    margin-right: 50px;
}

.sidebar {
    background-color: rgba(100, 100, 255, 0.5);
    position: fixed;
    height: 100vh;
    right: 0px;
    top: 0px;
    display: grid;
    grid-template-columns: 50px 0px;
    border-left-style: solid;
}

.sidebarOpen {
    grid-template-columns: 50px 200px;
}

.sidebarButton {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.collapseablePanel {
    border-style: solid;
    border-width: 3px;
    margin: 5px;
    padding: 5px;
}

.collapseablePanel h2 {
    
}