.card.m-2
  .card-body
    div(data-toggle='collapse', href='#httpGetCollapse')
      h4.card-title.text-center HTTP Get
    .collapse.container-fluid#httpGetCollapse
      .row
        .col-sm-9
          .input-group.mb-3
            .input-group-prepend
              span.input-group-text URI
            input.form-control(type='text')
        .col-sm-3
          .input-group.mb-3
            .input-group-prepend
              span.input-group-text VERB
            select.custom-select
              each val in verbs
                option(value=val)=val
      .row
        .col-sm-6
          h5.text-center Client
        .col-sm-6
          h5.text-center Server
      .row
        .col-sm-6
          +headerparam('httpgetclient')
        .col-sm-6
          +headerparam('httpgetserver')
      .row
        .col-sm-6
          +mutation
        .col-sm-6
          +mutation
